<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
<link href="/vendor/webview/animate.css" rel="stylesheet" type="text/css" />
<link href="/vendor/webview/hamburgers.min.css" rel="stylesheet" type="text/css" />
<link href="/vendor/webview/css/animsition.min.css" rel="stylesheet" type="text/css" />
<link href="/vendor/webview/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/vendor/webview/daterangepicker.css" rel="stylesheet" type="text/css" />
<link href="/css/util_webview.css" rel="stylesheet" type="text/css" />
<link href="/css/main_webview.css" rel="stylesheet" type="text/css" />

<title>
    <%= title %>
</title>