<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <div class="container-contact100">
        <div class="wrap-contact100">
            <form class="contact100-form validate-form" action="/webviews/save" method="GET">
                <input type="hidden" name="psid" id="psid">
                <span class="contact100-form-title">
                Please Fill Your Information!
            </span>

                <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Your Name :</span>
                    <input class="input100" type="text" name="name" placeholder="Enter your name">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 input100-select">
                    <span class="label-input100">Choose Gender :</span>
                    <div>
                        <select class="selection-2" name="gender">
                        
                        <option>Male</option>
                        <option>Female</option>
                        
                    </select>
                    </div>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Your Age :</span>
                    <input class="input100" type="text" name="age" placeholder="Enter your age">
                    <span class="focus-input100"></span>
                </div>
                </br>

                <div class="row">

                    <div class="col-4">
                        <div class="wrap-input100 input100-select">
                            <span class="label-input100">State:</span>

                            <select id="ddl" onchange="configureDropDownLists(this,document.getElementById('ddl2'))" class="selection-2" name="state">
                                <option value=""></option>
                                <option value="Kachin">Kachin State</option>
                                <option value="Kayah">Kayah State</option>
                                <option value="Kayin">Kayin State</option>
                                <option value="Mon">Mon State</option>
                                <option value="Rakhine">Rakhine State</option>
                                <option value="Shan">Shan State</option>
                                <option value="Ayeyawady">Ayeyawady Division</option>
                                <option value="Bago">Bago Division</option>
                                <option value="Magwe">Magwe Division</option>
                                <option value="Mandalay">Mandalay Division</option>
                                <option value="Sagaing">Sagaing Division</option>
                                <option value="Thaninthayi">Thaninthayi Division</option>
                                <option value="Yangon">Yangon Division</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="wrap-input100 input100-select">
                            <span>Township:</span>


                            <select id="ddl2" class="selection-2" name="township">
                                </select>

                            <!-- <select class="selection-2" name="township">
                        
                        <option>Hlaing</option>
                        <option>Dagon</option>
                        <option>Okkalapa</option>
                        <option>Sule</option>
                        
                    </select> -->

                            <span class="focus-input100"></span>
                        </div>
                    </div>
                </div>




                <div class="wrap-input100 validate-input" data-validate="Valid phonenum is required">
                    <span class="label-input100">Phone Number :</span>
                    <input class="input100" type="tel" name="phonenum" placeholder="09xx-xxx-xxxx" pattern="^\d{4}-\d{3}-\d{4}$" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="pin-code is required">
                    <span class="label-input100">Pin-Code Number :</span>
                    <input class="input100" type="text" name="pin-code" placeholder="Enter your Pin-Number">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>

                        <button class="contact100-form-btn" type="submit" name="action" id="submitButton">
                        
                        <span>
                        
                            Submit
                             <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i> 
                            
                        </span>
                    </button>

                    </div>
                </div>



            </form>


        </div>
    </div>

    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));

        window.extAsyncInit = function() {
        // the Messenger Extensions JS SDK is done loading 

        MessengerExtensions.getContext('598713654164093', function success(thread_context) {
                document.getElementById('psid').value = thread_context.psid;
            },
            function error(err) {
                // error
            }
        );


        MessengerExtensions.requestCloseBrowser(function success() {
            // webview closed
        }, function error(err) {
            // an error occurred
        });
        });
        };
    </script>
</body>

</html>

</html>