<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body class="bg-gradient-to-r from-green-800 to-blue-500 h-screen flex h-full items-start justify-center">
      <form action="/results" method="post" class="shadow-2xl bg-white p-10 text-center rounded mt-2">
        <h2>Fill Information</h2>
      <div class="form-group">
        <label for="usr">Your Name:</label>
        <input type="text" class="form-control">
      </div>  
      <div class="form-group">
        <label for="usr">Your Age:</label>
        <input type="text" class="form-control">
      </div> 
      <div class="container">
        <div class="row">
            <div class="col-8 col-md-4">
              <label class="text-muted">With Prepend</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="gender3">Gender</label>
                </div>
                <select class="custom-select" id="gender3">
                  <option selected>Choose...</option>
                  <option value="1">Male</option>
                  <option value="2">Female</option>
                </select>
              </div>
              
              <label class="text-muted">With Button</label>
              <div class="input-group">
                <select class="custom-select" id="gender4">
                  <option selected>Choose...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button">Gender</button>
                </div>
              </div>
            </div>
        </div>
      </div>
      
      


    </form>
    <% include ./partials/script %>
    <script>
        (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));

      window.extAsyncInit = function() {
        // the Messenger Extensions JS SDK is done loading 
        console.log("window.extAsynInit function loading");
        MessengerExtensions.getContext('2670682636552520', 
        function success(thread_context) {
                // document.getElementById('psid').value (thread_context.psid);
                // $('#psid').val(thread_context.psid);
            },
            function error(err) {
                alert("Cannot fetch psid, error : "+ err);
            });
      
      };
    </script>
</body>

</html>