<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body class="bg-gradient-to-r from-green-800 to-blue-500 h-screen flex h-full items-start justify-center">
    <form action="/results" method="post" class="shadow-2xl bg-white p-10 text-center rounded mt-2">
      <div class="form-group">
        <label for="usr">Your Name:</label>
        <input type="text" class="form-control">
      </div>  
      


    </form>
    <% include ./partials/script %>
    <script>
        (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));

      window.extAsyncInit = function() {
        // the Messenger Extensions JS SDK is done loading 
        console.log("window.extAsynInit function loading");
        MessengerExtensions.getContext('2670682636552520', 
        function success(thread_context) {
                // document.getElementById('psid').value (thread_context.psid);
                // $('#psid').val(thread_context.psid);
            },
            function error(err) {
                alert("Cannot fetch psid, error : "+ err);
            });
      
      };
    </script>
</body>

</html>