<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>

  <body
    class="bg-gradient-to-r from-green-600 to-blue-500 h-screen flex items-start justify-center"
  >
    <form
      action="#"
      method="post"
      class="bg-white p-10 text-center rounded mt-2"
    >
      <h2 class="text-lg font-bold">Please fill your information.</h2>
      <!-- User Info div -->
      <div class="block" id="user-info">
        <div class="text-left mt-2">
          <label for="name" class="text-xs text-gray-700">Your Name</label>
          <input
            type="text"
            name="name"
            id="name"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your name"
            required
          />
        </div>
        <div class="text-left mt-2">
          <label for="age" class="text-xs text-gray-700">Age</label
          ><input
            type="text"
            name="age"
            id="age"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your age"
          />
        </div>
        <div class="text-left mt-2">
          <label for="phoneNo" class="text-xs text-gray-700"
            >Your Phone Number</label
          ><input
            type="text"
            name="phoneNo"
            id="phoneNo"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your phone number"
          />
        </div>
        <div class="text-left mt-2">
          <label for="luckydraw" class="text-xs text-gray-700"
            >Luckydraw Code</label
          ><input
            type="text"
            name="luckydraw"
            id="luckydraw"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your Luckydraw code"
          />
        </div>
        <div class="text-left mt-2">
          <label for="stateNDiv" class="text-xs text-gray-700"
            >State and Division</label
          >
          <select
            name="stateNDiv"
            id="stateNDiv"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
          >
            <option value="1">Select state and division</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
          </select>
        </div>
        <div class="text-left mt-2">
          <label for="township" class="text-xs text-gray-700">Township</label>
          <select
            name="township"
            id="township"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
          >
            <option value="1">Select township</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
          </select>
        </div>
        <button
          type="button"
          id="nextBtn1"
          class="bg-gray-800 text-gray-100 mt-4 text-sm px-3 py-1 w-full rounded hover:bg-gray-700"  >
          Next
        </button>
      </div>
      <!-- User Info copy div -->
      <div class="hidden" id="product">
        <div class="text-left mt-2">
          <label for="name" class="text-xs text-gray-700">Your Name Copy</label>
          <input
            type="text"
            name="name"
            id="name"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your name"
            required
          />
        </div>
        <div class="text-left mt-2">
          <label for="age" class="text-xs text-gray-700">Age Copy</label
          ><input
            type="text"
            name="age"
            id="age"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your age"
          />
        </div>
        <div class="text-left mt-2">
          <label for="phoneNo" class="text-xs text-gray-700"
            >Your Phone Number</label
          ><input
            type="text"
            name="phoneNo"
            id="phoneNo"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your phone number"
          />
        </div>
        <div class="text-left mt-2">
          <label for="luckydraw" class="text-xs text-gray-700"
            >Luckydraw Code</label
          ><input
            type="text"
            name="luckydraw"
            id="luckydraw"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your Luckydraw code"
          />
        </div>
        <div class="text-left mt-2">
          <label for="stateNDiv" class="text-xs text-gray-700"
            >State and Division</label
          >
          <select
            name="stateNDiv"
            id="stateNDiv"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
          >
            <option value="1">Select state and division</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
          </select>
        </div>
        <div class="text-left mt-2">
          <label for="township" class="text-xs text-gray-700">Township</label>
          <select
            name="township"
            id="township"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
          >
            <option value="1">Select township</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
          </select>
        </div>
        <button
          type="button"
          id="prevBtn1"
          class="bg-gray-800 text-gray-100 mt-4 text-sm px-3 py-1 w-full rounded hover:bg-gray-700"
        >
          Previous
        </button>
        <button
          type="button"
          id="nextBtn2"
          class="text-white hover:text-red-500 ... "    >
          Next
        </button>
      </div>
      <!-- User Info copy div -->
      <div class="hidden" id="luckydraw-form">
        <div class="text-left mt-2">
          <label for="luckydraw" class="text-xs text-gray-700"
            >Luckydraw Code</label
          ><input
            type="text"
            name="luckydraw"
            id="luckydraw"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your Luckydraw code"
          />
        </div>
        <button
          type="button"
          id="prevBtn2"
          class="bg-gray-800 text-gray-100 mt-4 text-sm px-3 py-1 w-full rounded hover:bg-gray-700"
        >
          Previous
        </button>
        <button
          type="submit"
          class="bg-gray-800 text-gray-100 mt-4 text-sm px-3 py-1 w-full rounded hover:bg-gray-700"
        >
          Submit
        </button>
      </div>
    </form>
    <% include ./partials/script %>
  </body>
</html>
