<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body class="bg-gradient-to-r from-green-800 to-blue-500 h-screen flex h-full items-start justify-center">
    <form action="/results" method="post" class="shadow-2xl bg-white p-10 text-center rounded mt-2">
        <h2 class="text-3xl font-bold">Please fill your information</h2>
        <!-- User Info div -->
        <div class="block" id="user-info">
            <div class="text-left mt-2">
                <label for="name" class="text-base py-2 text-gray-700 flex space-y-2">Your Name</label
          >
          <input
            type="text"
            name="name"
            id="name"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-2 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your name"
          />
        </div>
        <div class="text-left mt-2">
          <label for="age" class="text-base py-4 text-gray-700 flex space-y-2"
            >Age</label
          ><input
            type="text"
            name="age"
            id="age"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-2 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your age"
          />
        </div>
        <div class="text-left mt-2">
          <label
            for="phoneNo"
            class="text-base py-4 text-gray-700 flex space-y-2"
            >Your Phone Number</label
          ><input
            type="text"
            name="phoneNo"
            id="phoneNo"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-2 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your phone number"
          />
        </div>
        <div class="text-left mt-2">
          <label
            for="luckydraw"
            class="text-base py-4 text-gray-700 flex space-y-2"
            >Luckydraw Code</label
          ><input
            type="text"
            name="luckydraw"
            id="luckydraw"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-2 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your Luckydraw code"
          />
        </div>
        <div class="text-left mt-2">
          <label
            for="stateNDiv"
            class="text-base py-4 text-gray-700 flex space-y-2"
            >State and Division</label
          >
          <select
            name="stateNDiv"
            id="stateNDiv"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-2 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
          >
            <option value="1">Select state and division</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
          </select>
        </div>
        <div class="text-left mt-2">
          <label
            for="township"
            class="text-base py-4 text-gray-700 flex space-y-2"
            >Township</label
          >
          <select
            name="township"
            id="township"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-2 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500 flex space-y-2"
          >
            <option value="1">Select township</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
          </select>
        </div>
        <!-- <button
          type="submit"
          
          class="bg-gradient-to-r from-teal-400 to-blue-500 text-gray-100 mt-4 text-sm px-3 py-4 w-full rounded"
        >
          Submit
        </button> -->
        <button type="button" id="nextBtn1" 
        class="bg-gradient-to-r from-teal-400 to-blue-500 text-gray-100 mt-4 text-sm px-3 py-4 w-full rounded">
          Next
        </button>
      </div>
      <!-- 2User Info copy div -->
       <div class="hidden" id="product">
        <!-- <div class="text-left mt-2">
          <label for="name" class="text-xs text-gray-700">Your Name Copy</label>
                <input type="text" name="name" id="name" class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500" placeholder="Enter your name" required />
            </div>
            <div class="text-left mt-2">
                <label for="age" class="text-xs text-gray-700">Age Copy</label
          ><input
            type="text"
            name="age"
            id="age"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your age"
          />
        </div>
        <div class="text-left mt-2">
          <label for="phoneNo" class="text-xs text-gray-700"
            >Your Phone Number</label
          ><input
            type="text"
            name="phoneNo"
            id="phoneNo"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your phone number"
          />
        </div>
        <div class="text-left mt-2">
          <label for="luckydraw" class="text-xs text-gray-700"
            >Luckydraw Code</label
          ><input
            type="text"
            name="luckydraw"
            id="luckydraw"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your Luckydraw code"
          />
        </div>
        <div class="text-left mt-2">
          <label for="stateNDiv" class="text-xs text-gray-700"
            >State and Division</label
          >
          <select
            name="stateNDiv"
            id="stateNDiv"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
          >
            <option value="1">Select state and division</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
          </select>
        </div>
        <div class="text-left mt-2">
          <label for="township" class="text-xs text-gray-700">Township</label>
                <select name="township" id="township" class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500">
            <option value="1">Select township</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
          </select>
            </div>
            <button type="button" id="prevBtn1" class="bg-gray-800 text-gray-100 mt-4 text-sm px-3 py-1 w-full rounded hover:bg-gray-700">
          Previous
        </button>
            <button type="button" id="nextBtn2" class="bg-gradient-to-r from-teal-400 to-blue-500 text-gray-100 mt-4 text-sm px-3 py-1 w-full rounded hover:bg-gray-700">
          Next
        </button> -->
        
        <div class="text-left mt-2">
          <label for="product"
            class="text-base py-4 text-black-700 flex space-y-2 text-center"
            >Choose Your Product:</label
          >
        </div>
<!-- <span class="text-gray-700">Radio Buttons</span> -->
          <div class="mt-4">
            

            <div>
              <label class="inline-flex items-center">
                <input type="radio" class="form-radio text-indigo-600" name="radio-colors" value="1" checked>
                <span class="ml-8">
                   <!--img-->
                   <div class="flex items-center justify-center h-screen">
                    <figure class="relative max-w-xs cursor-pointer">
                      <img class="rounded-lg shadow-xl hover:shadow-2xl" src="/img/SPY.jpg">
                      <figcaption class="absolute text-lg -mt-16 text-white px-4">
                        <div>
                          <h1 class="text-blue-600">Title</h1>
                        </div>
                        <!-- <div>
                          <h1>Subtitle</h1>
                        </div> -->
                        </figcatpion>
                    </figure>
                  </div>
                </span>
              </label>
            </div>
            <div>
              <div>
                <label class="inline-flex items-center">
                  <input type="radio" class="form-radio text-indigo-600" name="radio-colors" value="1" checked>
                  <span class="ml-8">
                     <!--img-->
                     <div class="flex items-center justify-center h-screen">
                      <figure class="relative max-w-xs cursor-pointer">
                        <img class="rounded-lg shadow-xl hover:shadow-2xl" src="/img/SPY.jpg">
                        <figcaption class="absolute text-lg -mt-16 text-white px-4">
                          <div>
                            <h1 class="text-blue-600">Title</h1>
                          </div>
                          <!-- <div>
                            <h1>Subtitle</h1>
                          </div> -->
                          </figcatpion>
                      </figure>
                    </div>
                  </span>
                </label>
              </div>
              <div>
                <label class="inline-flex items-center">
                  <input type="radio" class="form-radio text-indigo-600" name="radio-colors" value="1" checked>
                  <span class="ml-8">
                     <!--img-->
                     <div class="flex items-center justify-center h-screen">
                      <figure class="relative max-w-xs cursor-pointer">
                        <img class="rounded-lg shadow-xl hover:shadow-2xl" src="/img/SPY.jpg">
                        <figcaption class="absolute text-lg -mt-16 text-white px-4">
                          <div>
                            <h1 class="text-blue-600">Title</h1>
                          </div>
                          <!-- <div>
                            <h1>Subtitle</h1>
                          </div> -->
                          </figcatpion>
                      </figure>
                    </div>
                  </span>
                </label>
              </div>
              <div>
                <label class="inline-flex items-center">
                  <input type="radio" class="form-radio text-indigo-600" name="radio-colors" value="1" checked>
                  <span class="ml-8">
                     <!--img-->
                     <div class="flex items-center justify-center h-screen">
                      <figure class="relative max-w-xs cursor-pointer">
                        <img class="rounded-lg shadow-xl hover:shadow-2xl" src="/img/SPY.jpg">
                        <figcaption class="absolute text-lg -mt-16 text-white px-4">
                          <div>
                            <h1 class="text-blue-600">Title</h1>
                          </div>
                          <!-- <div>
                            <h1>Subtitle</h1>
                          </div> -->
                          </figcatpion>
                      </figure>
                    </div>
                  </span>
                </label>
              </div>
          </div>
        
          <button type="button" id="prevBtn1" 
          class="bg-gradient-to-r from-teal-400 to-blue-500 text-gray-100 mt-4 text-sm px-3 py-4 w-full rounded">
            Previous
          </button>
              <button type="button" id="nextBtn2" class="bg-gradient-to-r from-teal-400 to-blue-500 text-gray-100 mt-4 text-sm px-3 py-4 w-full rounded">
            Next
          </button>
      
      </div>
        

        <!-- 3User Info copy div -->
         <div class="hidden" id="luckydraw-form">
        <div class="text-left mt-2">
          <label for="luckydraw" class="text-xs text-gray-700"
            >Luckydraw Code</label
          ><input
            type="text"
            name="luckydraw"
            id="luckydraw"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your Luckydraw code"
          />
        </div>
        <button
          type="button"
          id="prevBtn2"
          class="bg-gradient-to-r from-teal-400 to-blue-500 text-gray-100 mt-4 text-sm px-3 py-4 w-full rounded"
        >
          Previous
        </button>
        <button
          type="submit"
          
          class="bg-gradient-to-r from-teal-400 to-blue-500 text-gray-100 mt-4 text-sm px-3 py-4 w-full rounded"
        >
          Submit
        </button>
      </div> 
    </form>
    <% include ./partials/script %>
</body>

</html>