<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body class="container">
  
</div>">
    <form action="/results" method="post" class="mx-auto w-50">

        <h2 class="text-center">Please fill your information</h2>
        <input type="hidden" value="12345" id="psid">
        <!-- User Info div -->
        <div class="block" id="user-info">
            <!-- <input type="hidden" name="psid"> -->
            <div class="form-group">
              <label for="Username">Your Name</label>
              <input type="text" class="form-control" id="Name" placeholder="Enter Your Name">
            <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>

            <div class="form-group">
              <label for="age">Your Age</label>
              <input type="text" class="form-control" id="age" placeholder="Enter Your Age">
            <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
               

            <div class="form-group">
              <label for="gender">Gender</label>
              <select class="form-control" id="gender">
                <option>Male</option>
                <option>Female</option>
               
              </select>
            </div>
              <div class="form-group">
            <label for="phonenumber">Your Phone Number</label>
            <input type="phonenumber" class="form-control" id="phonenumber" placeholder="Enter your Phone Number">
            </div>
        <!-- <div class="text-left mt-2">
          <label
            for="luckydraw"
            class="text-base py-4 text-gray-700 flex space-y-2"
            >Luckydraw Code</label
          ><input
            type="text"
            name="luckydraw"
            id="luckydraw"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-2 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your Luckydraw code"
          />
        </div> -->
        <!-- State And Division-->
        <!--
        <div class="text-left mt-2">
          <label
            for="stateNDiv"
            class="text-base py-4 text-gray-700 flex space-y-2"
            >State and Division</label
          >
          <select
            name="stateNDiv"
            id="stateNDiv"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-2 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
          >
            <option value="1">Select state and division</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
          </select>
        </div> -->
         <!-- State And Division-->

         <!--township-->
         <!--
        <div class="text-left mt-2">
          <label
            for="township"
            class="text-base py-4 text-gray-700 flex space-y-2"
            >Township</label
          >
          <select
            name="township"
            id="township"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-2 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500 flex space-y-2"
          >
            <option value="1">Select township</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
            <option value="2">Yangon</option>
          </select>
        </div>-->
         <!--township-->
        <!-- 
          <button
          type="submit"
          
          class="bg-gradient-to-r from-teal-400 to-blue-500 text-gray-100 mt-4 text-sm px-3 py-4 w-full rounded"
        >
          Submit
        </button> -->
        <label for="stateNDiv">State And Division</label>
        <select class="form-control" id="stateNDiv">
          <option selected>Select State and Division</option>
        </select>
    
        <div class="form-group">
        <label for="township">Township</label>
        <select class="form-control" id="township">
          <option selected>Select Township</option>
        </select>
      </div>
        

        <button type="button" id="nextBtn1" 
        class="bg-gradient-to-r from-teal-400 to-blue-500 text-gray-100 mt-4 text-sm px-3 py-2 w-full rounded">
          Next
        </button>
      </div>


      <!-- 2User Info copy div -->
       <div class="hidden" id="product">
        <div class="text-left mt-2">
          <label for="product" class="text-xl text-base py-4 text-black-700 flex space-y-2 text-center">Choose Your Product:</label>

      </div>
         
<!-- component cus-->
<div class="relative ...">
     
  <div class="container mx-auto py-8 flex justify-center mb-0">
    
    <div class="bg-white w-80 shadow-lg cursor-pointer rounded transform hover:scale-105 duration-300 ease-in-out">
    <div class="">
    <img src="/img/sec100plus1.jpg" alt="100plus" class="rounded-t">
    <div class="absolute top-0 left-0 ...">
      <label class="inline-flex items-center">
        <input type="radio" class="form-radio w-7 h-7" name="product" value="1" checked>
          </label>
        
    </div>
    </div>
    <div class="p-4">
    <h2 class="text-2xl uppercase">100 Plus</h2>
    <p class="font-light text-gray-500 text-lg my-2">Promition Time</p>
    <p>5 January 2020 to 11 July 2021.</p>
    
    </div>
    </div>
    </div>
 
</div>

<!-- component cus-->
<div class="relative ...">
     
  <div class="container mx-auto py-8 flex justify-center mb-0">
    
    <div class="bg-white w-80 shadow-lg cursor-pointer rounded transform hover:scale-105 duration-300 ease-in-out">
    <div class="">
    <img src="/img/secspywine1.jpg" alt="spy" class="rounded-t">
    <div class="absolute top-0 left-0 ...">
      <label class="inline-flex items-center">
        <input type="radio" class="form-radio w-7 h-7" name="product" value="1" checked>
          </label>
        
    </div>
    </div>
    <div class="p-4">
    <h2 class="text-2xl uppercase">SPY Wine</h2>
    <p class="font-light text-gray-500 text-lg my-2">Promition Time</p>
    <p>5 Febraury 2020 to 11 July 2021.</p>
    
    </div>
    </div>
    </div>
 
</div>
<!-- component cus-->
<div class="relative ...">
     
  <div class="container mx-auto py-8 flex justify-center mb-0">
    
    <div class="bg-white w-80 shadow-lg cursor-pointer rounded transform hover:scale-105 duration-300 ease-in-out">
    <div class="">
    <img src="/img/secnivea1.jpg" alt="nivea" class="rounded-t">
    <div class="absolute top-0 left-0 ...">
      <label class="inline-flex items-center">
        <input type="radio" class="form-radio w-7 h-7" name="product" value="1" checked>
          </label>
        
    </div>
    </div>
    <div class="p-4">
    <h2 class="text-2xl uppercase">Nivea</h2>
    <p class="font-light text-gray-500 text-lg my-2">Promition Time</p>
    <p>5 Febraury 2020 to 11 July 2021.</p>
    
    </div>
    </div>
    </div>
 
</div>
<!-- component cus-->
<div class="relative ...">
     
  <div class="container mx-auto py-8 flex justify-center mb-0">
    
    <div class="bg-white w-80 shadow-lg cursor-pointer rounded transform hover:scale-105 duration-300 ease-in-out">
    <div class="">
    <img src="/img/seccolgate7.jpg" alt="colgate" class="rounded-t ">
    <div class="absolute top-0 left-0 ...">
      <label class="inline-flex items-center">
        <input type="radio" class="form-radio w-7 h-7" name="product" value="1" checked>
          </label>
        
    </div>
    </div>
    <div class="p-4">
    <h2 class="text-2xl uppercase">Colgate</h2>
    <p class="font-light text-gray-500 text-lg my-2">Promition Time</p>
    <p>5 Febraury 2020 to 11 July 2021.</p>
    
    </div>
    </div>
    </div>
 
</div>


            <button type="button" id="prevBtn1" class="bg-gradient-to-r from-teal-400 to-blue-500 text-gray-100 mt-4 text-sm px-3 py-2 w-full rounded">
            Previous
          </button>
            <button type="button" id="nextBtn2" class="bg-gradient-to-r from-teal-400 to-blue-500 text-gray-100 mt-4 text-sm px-3 py-2 w-full rounded">
            Next
          </button>
        </div>




        <!-- 3User Info copy div -->
        <div class="hidden" id="luckydraw-form">
            <div class="text-left mt-2">
                <label for="luckydraw" class="text-xs text-gray-700">Luckydraw Code</label
          ><input
            type="text"
            name="luckydraw"
            id="luckydraw"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your Luckydraw code"
          />
        </div>
        <button
          type="button"
          id="prevBtn2"
          class="bg-gradient-to-r from-teal-400 to-blue-500 text-gray-100 mt-4 text-sm px-3 py-2 w-full rounded"
        >
          Previous
        </button>
        <button
          type="submit" id="submitButton" onclick="getPsid()"
          
          class="bg-gradient-to-r from-teal-400 to-blue-500 text-gray-100 mt-4 text-sm px-3 py-2 w-full rounded"
        >
          Submit
        </button>
        </div>
        
      
    </form>

    
    <% include ./partials/script %>
    <script>
    function getPsid(){
      (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));
                    // the Messenger Exstensions JS SDK is done loading

        MessengerExtensions.getContext('2670682636552520',
                function success(thread_context) {
                    document.getElementById("psid").value = thread_context.psid;
                    console.log()
                },
                function error(err) {
                    console.log("Something went wrong");
                }
            );
    }       
    </script>
</body>

</html>