<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body class="container">

    <form action="/results" method="post" class="mx-auto w-50">

        <h2 class="text-center">Please fill your information</h2>
        <!-- <input type="hidden" value="12345" id="psid"> -->
        <!-- User Info div -->
        <input type="hidden" id="psid" value="">
        <div class="block" id="user-info">
            <!-- <input type="hidden" name="psid"> -->
            <div class="form-group">
              <label for="Username">Your Name</label>
              <input type="text" class="form-control" id="Name" placeholder="Enter Your Name">
            <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>

            <div class="form-group">
              <label for="age">Your Age</label>
              <input type="text" class="form-control" id="age" placeholder="Enter Your Age">
            <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
               

            <div class="form-group">
              <label for="gender">Gender</label>
              <select class="form-control" id="gender">
                <option>Male</option>
                <option>Female</option>
               
              </select>
            </div>
              <div class="form-group">
            <label for="phonenumber">Your Phone Number</label>
            <input type="phonenumber" class="form-control" id="phonenumber" placeholder="Enter your Phone Number">
            </div>
       
        <label for="stateNDiv">State And Division</label>
        <select class="form-control" id="stateNDiv">
          <option selected>Select State and Division</option>
        </select>
    
        <div class="form-group">
        <label for="township">Township</label>
        <select class="form-control" id="township">
          <option selected>Select Township</option>
        </select>
      </div>
        

        <button type="button" id="nextBtn1" 
        class="bg-gradient-to-r from-teal-400 to-blue-500 text-gray-100 mt-4 text-sm px-3 py-2 w-full rounded">
          Next
        </button>
      </div>


      <!-- 2User Info copy div -->
       <div class="hidden" id="product">
        <div class="form-group">
         <div id="myproduct">
           <label for="chooseproduct">Choose Your Product :</label>
            <div class="row">
        <div class="col-sm-6">Product Name:</div>
        <div class="col-sm-6" >    
      <select class="form-control" id="chooseproduct">
       <option data-toggle="collapse" href="#SPY">SPY Wine</option>  
      <option data-toggle="collapse" href="#plus">100 Plus</option>
           
      <option data-toggle="collapse" href="#coca">Coca Cola</option>
       
      </select>
    </div>
      </div>
      <br>
        <div id="SPY" class="collapse show" data-parent="#myproduct">
        <div class="row">
        <div class="col-sm-6" >Promotion Time: </div>
        <div class="col-sm-6" >5 January 2020 to 11 July 2021</div>
      </div>
      <br>
    <!-- Gallery -->
    <div class="row">
    <div class="col-md-12">
      <img
        src="spy1.png"
        class="shadow-1-strong mb-4 mx-auto d-block" 
        alt="SPY"/>
      <h3 class="text-center">SPY Wine Cooler</h3>
      <h5 class="text-center">has been the premier Ready To Drinkbrand among Thais for the past 30 years and has dominated the market with more than 70%, lead in both the domestic Thai and the overall South East Asian market alike.</h5>
    </div>
  
  </div>
  <!-- Gallery -->
      </div>
      
      <div id="plus" class="collapse" data-parent="#myproduct">
        <div class="row">
        <div class="col-sm-6" >Promotion Time: </div>
        <div class="col-sm-6" >4 Feb 2020 to 11 March 2021</div>
      </div>
      <br>
    <!-- Gallery -->
    <div class="row">
    <div class="col">
      <img
        src="100plus2.png" width="460" height="380"
        class="shadow-1-strong mb-4 mx-auto d-block" 
        alt="100plus"/>
      <h3 class="text-center">100 Plus</h3>
      <h5 class="text-center">Peak performance is driven by two things passion and a healthy body. Loaded with glucose and minerals, 100PLUS keeps your body properly hydrated for optimum bodily function and speedy recovery. </h5>
    </div>
  
  </div>
      </div>
      <div id="coca" class="collapse" data-parent="#myproduct">
        <div class="row">
        <div class="col-sm-6" >Promotion Time: </div>
        <div class="col-sm-6" >7 April 2020 to 16June 2021</div>
      </div>
      <br>
    <!-- Gallery -->
    <div class="row">
    <div class="col">
      <img
        src="coca2.png"
        class="shadow-1-strong mb-4 mx-auto d-block" 
        alt="CocaCola"/>
      <h3 class="text-center">Coca Cola Myanmar</h3>
      <h5 class="text-center">Peak performance is driven by two things passion and a healthy body. Loaded with glucose and minerals, 100PLUS keeps your body properly hydrated for optimum bodily function and speedy recovery. </h5>
    </div>
  
  </div>
      </div>
      
    
    
    </div>
    </div>
         


            <button type="button" id="prevBtn1">
            Previous
          </button>
            <button type="button" id="nextBtn2">
            Next
          </button>
        </div>




        <!-- 3User Info copy div -->
        <div class="hidden" id="luckydraw-form">
            <div class="text-left mt-2">
                <label for="luckydraw" class="text-xs text-gray-700">Luckydraw Code</label
          ><input
            type="text"
            name="luckydraw"
            id="luckydraw"
            class="block w-full bg-gray-200 border border-gray-400 text-sm px-2 py-1 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
            placeholder="Enter your Luckydraw code"
          />
        </div>
        <button
          type="button"
          id="prevBtn2"
          class="bg-gradient-to-r from-teal-400 to-blue-500 text-gray-100 mt-4 text-sm px-3 py-2 w-full rounded"
        >
          Previous
        </button>
        <button
          type="submit" id="submitButton" onclick="getPsid()"
          
          class="bg-gradient-to-r from-teal-400 to-blue-500 text-gray-100 mt-4 text-sm px-3 py-2 w-full rounded"
        >
          Submit
        </button>
        </div>
        
      
    </form>

    
    <% include ./partials/script %>
    <script>
      (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));
                    // the Messenger Exstensions JS SDK is done loading
    
      window.extAsyncInit = function() {
          // the Messenger Extensions JS SDK is done loading
              MessengerExtensions.getUserID(function success(uids) {
                  // User ID was successfully obtained. 
                  var psid = uids.psid;
                  document.getElementById('psid').nodeValue=psid;
                  console.log("psid", psid)
                      $('.error').html(psid)

              }, function error(err, errorMessage) {      
                  // Error handling code
                  console.log(err, errorMessage)
                  $('.error').html(errorMessage)
              });    
    };

    </script>
</body>

</html>