<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>
<script>
  (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
    window.extAsyncInit = function() {
        // the Messenger Extensions JS SDK is done loading
        MessengerExtensions.getContext('2670682636552520',
            function success(thread_context){
                // success
                document.getElementsByName("psid").value= thread_context.psid ;
                document.getElementsByName("name").value= "Zin Min Myat";
            },
            function error(err){
                // error
                console.log(err);
            }
        );
    };
</script>
<body class="container">

  <form action="/results" method="post" class="mx-auto w-50">
    <div class="container mx-auto w-50 pt-4" id="one">
      <h2>Fill Your Information </h2>
      <div class="form-group">
        <label for="Username">Your Name</label>
        <input type="text" class="form-control" name="name" id="Name" placeholder="Enter Your Name">
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>

      <div class="form-group">
        <label for="age">Your Age</label>
        <input type="text" class="form-control" id="age"name="age" placeholder="Enter Your Age">
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>


      <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" name="sex">
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
      <div class="form-group">
        <label for="phonenumber">Your Phone Number</label>
        <input type="phonenumber" class="form-control" id="phonenumber" name="phoneNo" placeholder="Enter your Phone Number">
      </div>

      <label for="stateNDiv">State And Division</label>
      <select class="form-control" id="stateNDiv" name="stateNDiv">
        <option selected>Select State and Division</option>
      </select>

      <div class="form-group">
        <label for="township">Township</label>
        <select class="form-control" id="township" name="township">
          <option selected>Select Township</option>
        </select>
      </div>

      <div class="form-group">
        <label for="luckydraw">Lucky draw code</label>
        <input type="text" class="form-control" id="luckydraw" name="luckydraw" placeholder="Enter your Code">
      </div>

      <input type="text" hidden id="psid" name="psid" value="123123" >

      <div class="col-md-12 text-center">
        <!-- <button type="button" class="btn btn-outline-primary" id="nextBtn1" onclick="demoVisibilityone()"> Next
        </button> -->
        <button type="submit" id="SubmitBtn" class="btn btn-outline-primary"> Submit </button>
      </div>

    </div>

    
    
  </form>


  <% include ./partials/script %>
  
</body>

</html>