<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>
<% include ./partials/script %>
<body class="container-sm h-50">
  <form action="/results" method="post" class="mx-auto w-100 h-50" >
    <div class="container w-75 pt-4 col-sm-6 col-lg-4" id="one">
    <h2>Fill Your Information </h2>
    <div class="form-group">
      <label for="Username">Your Name</label>
      <input type="text" class="form-control" id="Name" placeholder="Enter Your Name">
    <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    
    <div class="form-group">
      <label for="age">Your Age</label>
      <input type="text" class="form-control" id="age" placeholder="Enter Your Age">
    <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>
       
    
      <div class="form-group">
      <label for="gender">Gender</label>
      <select class="form-control" id="gender">
        <option>Male</option>
        <option>Female</option>     
      </select>
    </div>
      <div class="form-group">
    <label for="phonenumber">Your Phone Number</label>
    <input type="phonenumber" class="form-control" id="phonenumber" placeholder="Enter your Phone Number">
    </div>
    
    <div class="form-group">
      <label for="stateNDiv">State And Division</label>
      <select class="form-control" id="stateNDiv">
        <option selected>Select State and Division</option>
      </select>
      </div>
  
      <div class="form-group">
      <label for="township">Township</label>
      <select class="form-control" id="township">
        <option selected>Select Township</option>
      </select>
    </div>
       
          <div class="col-md-12 text-center">
              <button type="button" class="btn btn-outline-primary" id="nextBtn1" onclick='demoVisibilityone()'> Next  </button>
             </div>
    
    </div>
    
  <!--Second Page-->
    <div class="container w-75 pt-4 col-sm-6 col-lg-4" id="two" style=" display : none">
     
      <div id="myproduct">
        <label for="chooseproduct">Choose Your Product :</label>
  
      <div class="row">
          <div class="col-sm-6">Product Name:</div>
          <div class="col-sm-6">    
        <select class="form-control" id="chooseproduct">
        <option data-toggle="collapse" href="#SPY">SPY Wine</option>  
        <option data-toggle="collapse" href="#plus">100 Plus</option>           
        <option data-toggle="collapse" href="#coca">Coca Cola</option>       
        </select>
      </div>
        </div>
  
        <br>
  
          <div id="SPY" class="collapse show" data-parent="#myproduct">
          <div class="row">
          <div class="col-sm-6" >Promotion Time: </div>
          <div class="col-sm-6" >5 January 2020 to 11 July 2021</div>
        </div>
      </div>
        <br>
     
  
          <div id="plus" class="collapse" data-parent="#myproduct">
          <div class="row">
          <div class="col-sm-6" >Promotion Time: </div>
          <div class="col-sm-6" >4 Feb 2020 to 11 March 2021</div>
        </div>
      </div>
        <br>
     
          <div id="coca" class="collapse" data-parent="#myproduct">
          <div class="row">
          <div class="col-sm-6" >Promotion Time: </div>
          <div class="col-sm-6" >7 April 2020 to 16 June 2021</div>
        </div>
      </div>
        <br>
     
      
    
      
      <div class="col-md-12 text-center pt-2">
      <button type="button" id="p2-PrevBtn" class="btn btn-outline-primary" onclick="demoVisibilitytwoPre()" > Previous </button>
      <button type="button" id="P2-NextBtn" class="btn btn-outline-primary" onclick="demoVisibilitytwoNext()"> Next </button>
      </div>
      
      </div>
      
  
    <!--third page-->
    <div class="container mx-auto w-50 pt-4" id="three" style=" display : none">
    
    <div class="form-group">
      <label for="luckydrawcode">Lucky Draw Code</label>
      <input type="text" class="form-control" id="luckydrawcode" placeholder="Enter Your Lucky Draw Code">
    </div>
    
    <div class="col-md-12 text-center">
    <button type="button" id="P3-PrevBtn" class="btn btn-outline-primary" onclick="demoVisibilitythreePre()"> Previous  </button>
    <button type="button" id="SubmitBtn" class="btn btn-outline-primary"> Submit </button>
    </div>
    
    </div>
    </form>
   
  <script src="/js/multi-select"></script>
 </body>
</html>