<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <body class="success-card">
    
        <div class="container">
            <div class="row">
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card">
                   <img class="card-img-top" src="/img/H1.png" alt="header"> 
                  
                  <div class="card-body text-center">
                    <img class="cus-card rounded-circle" src="/img/gitf.png" alt="gift">
                    <h4 class="card-title">Congratulations</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Your topup is successful!</h6>
                    <p class="card-text">Recharge using Ooredoo m-pitesan app and get 5% cashback on each recharge.Free night call is now activated!Valid till 14/07/2021 between 11 PM to 7AM.Now get free night onnet calls wth topoup.</p>
                    <a href="https://salaichitoolatt.online/luckydraw/123" class="btn btn-outline-info">Ok</a>          
                  </div>
                </div>
              </div>
            </div>
          </div>
        </body>

    <% include ./partials/script %>
</body>

</html>