<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>

  <body
    class="bg-gradient-to-r from-green-600 to-blue-500 h-full flex items-start justify-center"
  >
    <h1>Data is received</h1>
    <% include ./partials/script %>
  </body>
</html>
